@page "/"

@attribute [Authorize]
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer

<PageTitle>Painel</PageTitle>
<div class="row">
    <Totalizadores />
    <AccountBalance />
</div>

<AccessLink />