@page "/Company/Add"

<div class="card shadow-sm border-0">
    <div class="card-header">
        <h4 class="card-title mb-0">Cadastrar Empresa</h4>
    </div>

    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="tradeName" class="form-label">Nome Fantasia</label>
                <input type="text" class="form-control" id="tradeName" placeholder="Digite o nome fantasia">
            </div>
            <div class="mb-3">
                <label for="cnpj" class="form-label">CNPJ</label>
                <input type="text" class="form-control" id="cnpj" placeholder="Digite o CNPJ">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="address" placeholder="Digite o endereço">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@code {
    
}