@page "/Company/List"
@attribute [Authorize]
@rendermode InteractiveAuto
<h3>List</h3>

@code {
    // This is a placeholder for the List page logic.
    // You can implement the logic to display a list of accounts here.
}