@page "/dependencyinjection"

@inject NumeroAleatorio NumeroAleatorioUm
@inject NumeroAleatorio NumeroAleatorioDois
@inject IMensagem Mensagem

<h3>DependencyInjection</h3 <div class="alert alert-primary" role="alert">
<h4 class="alert-heading">Injeção de Dependência</h4>
<p>Este é um exemplo de injeção de dependência.</p>
<hr>
<p class="mb-0">A injeção de dependência é um padrão de projeto de software que visa facilitar a manutenção e a evolução
    de um sistema
    de software. A injeção de dependência é um tipo de inversão de controle, que é um princípio de design de software
    que permite desacoplar módulos de software e torná-los independentes.</p>
<div>
    Valor 1: @NumeroAleatorioUm.NumeroIdentificador
</div>
<div>
    Valor 2: @NumeroAleatorioDois.NumeroIdentificador
</div>
</div>
<div class="row">
    <div class="col-4">
        Mensagem Email enviada? @Mensagem.Enviar("SMS");
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
@code {

}
