@page "/Category/Add"
@using Blazored.LocalStorage.StorageOptions

@rendermode InteractiveServer
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject ICategoryRepository CategoryRepository
@inject ILocalStorageService LocalStorage


<PageTitle>Conta - Cadastrar</PageTitle>
@*
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary border-bottom-0 d-flex align-items-center justify-content-between">
                    <h4 class="card-title mb-0 text-white">Cadastrar Conta</h4>
                </div>
                <div class="card-body">
                    <EditForm Model="Category" OnValidSubmit="Submit" FormName="Register">
                        <DataAnnotationsValidator />
                        <div class=" row g-3">
                            <div class="col-xxl-3 col-md-6">
                                <label for="description" class="form-label fw-semibold">Descrição/Nome</label>
                                <InputText @bind-Value="Category!.Description" autocomplete="off" class="form-control"
                                    id="description" placeholder="Digite a descrição/nome da conta" />
                                <ValidationMessage For="() => Category!.Description" />
                            </div>

                            <div class="col-xxl-3 col-md-6">
                                <label for="balance" class="form-label fw-semibold">Saldo inicial</label>
                                <InputNumber @bind-Value="Category!.Balance" autocomplete="off" class="form-control"
                                    id="balance" placeholder="0,00" />
                                <ValidationMessage For="() => Category!.Balance" />
                            </div>

                            <div class="col-xxl-3 col-md-6">
                                <label for="balanceDate" class="form-label fw-semibold">Data da abertura da
                                    conta</label>
                                <InputDate @bind-Value="Category!.BalanceDate" autocomplete="off" class="form-control"
                                    id="balanceDate" placeholder="dd/MM/yyyy" />
                                <ValidationMessage For="() => Category!.BalanceDate" />
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between">
                            <a href="/Category/List" class="btn btn-outline-secondary px-4">Voltar</a>
                            <button type="submit" class="btn btn-outline-success px-4">Salvar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
*@

@code {
    [SupplyParameterFromForm]
    private Category? Category { get; set; } = new();
    private Company? Company;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Company = await LocalStorage.GetItemAsync<Company>(AppConstants.LocalStorageCompany);
    }
    private async Task Submit()
    {
        //Tratar dados
        Category!.CreatedAt = DateTimeOffset.Now;
        Category.CompanyId = Company!.Id;

        //Salvar
        await CategoryRepository.Add(Category);

        //Informar e redirecionar
        // Exibir toast e redirecionar depois que o usuário fechar
        await JS.InvokeVoidAsync("ShowToast",
        "Sucesso", "Conta cadastrada com sucesso!", "info", "/Category/List");
    }

}