@page "/Account/Edit/{id:int}"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject IAccountRepository AccountRepository
@inject ILocalStorageService LocalStorage
@inject ApplicationDbContext DB


<PageTitle>Conta - Editar</PageTitle>

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary border-bottom-0 d-flex align-items-center justify-content-between">
                    <h4 class="card-title mb-0 text-white">Atualizar Conta</h4>
                </div>
                <div class="card-body">
                    <EditForm Model="Account" OnValidSubmit="Submit" FormName="Update">
                        <DataAnnotationsValidator />
                        <div class=" row g-3">
                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="description" class="form-label fw-semibold">Descrição/Nome</label>
                                    <InputText @bind-Value="Account!.Description" autocomplete="off"
                                        class="form-control" id="description" placeholder="Digite a Descrição/Nome" />
                                    <ValidationMessage For="() => Account!.Description" />
                                </div>
                            </div>

                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="balance" class="form-label fw-semibold">Saldo Inicial</label>
                                    <InputNumber @bind-Value="Account!.Balance" autocomplete="off" class="form-control"
                                        id="balance" placeholder="0.00" />
                                    <ValidationMessage For="() => Account!.Balance" />
                                </div>
                            </div>

                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="balanceDate" class="form-label fw-semibold">Data de abertura da
                                        conta</label>
                                    <InputDate @bind-Value="Account!.BalanceDate" autocomplete="off"
                                        class="form-control" id="balanceDate" placeholder="dd/MM/yyyy" />
                                    <ValidationMessage For="() => Account!.BalanceDate" />
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between">
                            <a href="/Account/List" class="btn btn-outline-secondary px-4"
                                @onclick="BackRollback">Voltar</a>
                            <button type="submit" class="btn btn-outline-success px-4">Salvar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public int Id { get; set; }

    [SupplyParameterFromForm]
    private Account Account { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        var account = await AccountRepository.Get(Id);
        if (account is not null)
            Account = account;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Account.Id == 0)
            {
                await JS.InvokeVoidAsync("ShowToast", "Alerta", "Conta não encontrada!", "warning", "/Account/List");
                return;
            }
            var Company = await LocalStorage.GetItemAsync<Company>(AppConstants.LocalStorageCompany);
            if (Account!.CompanyId != Company!.Id)
            {
                await JS.InvokeVoidAsync("ShowToast",
                "Alerta.", $"A conta não pertence à empresa {Company.LegalName}", "warning", "/Account/List");
            }
        }
    }
    private async Task Submit()
    {
        //Salvar
        await AccountRepository.Update(Account);

        //Informar e redirecionar
        // Exibir toast e redirecionar depois que o usuário fechar
        await JS.InvokeVoidAsync("ShowToast",
        "Concluido!", "Conta alterada com sucesso!", "info", "/Account/List");
    }
    private void BackRollback(MouseEventArgs args)
    {
        DB.ChangeTracker.Clear();
    }
}